<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <main>
        <form method="post" action="/login_validation">
            {{ form.hidden_tag() }}
            {{ form.email(size=32, placeholder="Enter email") }}<br>
            {{ form.password(size=32, placeholder="Enter password") }}<br>
            {{ form.submit() }}
        </form>
        <p>Don't have an account <br><a href = '/signUp'> create an account</a> </p>
        <img class = "UnknownUser"> 
    </main>
</body>
</html>