<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <main>
        <form method="post" action="/add_user">
            {{ form.hidden_tag() }}
            {{ form.fname(size=32, placeholder="Enter First Name") }}<br>
            {{ form.lname(size=32, placeholder="Enter Last Name") }}<br>
            {{ form.email(size=32, placeholder="Enter Email") }}<br>
            {{ form.password(size=32, placeholder="Enter password") }}<br>
            {{ form.submit() }}
        </form>
        <p> Already have an account<br><a href="/">login</a></p> 
    </main>
</body>
</html>